@font-face {
    font-family: "Neon80s";
    src: url("../../assets/fonts/NEON\ ABSOLUTE\ SANS1.ttf");
  }

.backgroundWrapper {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(rgba(0, 54, 124, 0.342) 20%, rgba(0, 0, 0, 0.808) 60%), url(../../assets/img/black-bricks.jpg);
  }

.text-wrapper {
    h1{
        font-family: "Neon80s";
        margin-bottom: 25px;
    }
    .email-info {
        font-family: monospace;
        font-size: 1.5rem;
        
    }
    .changes-info{
        font-family: monospace;
        font-size: 1rem;
    }
}

