@font-face {
    font-family: "Neon80s";
    src: url("../../assets/fonts/NEON\ ABSOLUTE\ SANS1.ttf");
  }

.text-wrapper {
    h1{
        font-family: "Neon80s";
        margin-bottom: 25px;
    }
    .email-info {
        font-family: monospace;
        font-size: 1.5rem;
        
    }
    .changes-info{
        font-family: monospace;
        font-size: 1rem;
    }
}

