
    .justify-content-center {
        margin: 0;
        
        .form {}   
    } 

.scroll {
    animation: scrollPage 2s ease-in-out 0s 1 forwards;
}
.scrollBack {
    animation: scrollPageBack 2s ease-in-out 0s 1 forwards;
}

@keyframes scrollPage {
    from {
        margin-top:0vh;
    }
    to {
        margin-top:-100vh;
        
    }
}

@keyframes scrollPageBack {
    from {
        margin-top:-100vh;
    }
    to {
        margin-top:0vh;
        
    }
}