@import "./components/home/home.scss";
@import "./components/booking/booking.scss";
@import "./components/table/table.scss";
@import "./components/guest/guest.scss";

body {
    margin: 0px;
    overflow: hidden;
    font-family: monospace;
<<<<<<< HEAD
    // #root {
        
    // }
   
}
=======
    #root {
        
    }
   
}
>>>>>>> 123f2e9e7a7f7ba2b94d0ba3fa911eb137554de2
