@import "./components/home/home.scss";
@import "./components/booking/booking.scss";
@import "./components/table/table.scss";
@import "./components/guest/guest.scss";
@import "./components/confirmation/confirmation.scss";
body {
    margin: 0px;
    overflow: hidden;
    font-family: monospace;
    #root {
        
    }
    
}

